# Dependency directories
node_modules/
jspm_packages/
*.log

# Java
**/target/

# Optional npm cache directory
.npm

Apps/Musician/.idea/modules.xml
Apps/Musician/.idea/jarRepositories.xml
Apps/Musician/.idea/compiler.xml
Apps/Musician/.idea/libraries/
Apps/Musician/*.iws
Apps/Musician/*.iml
Apps/Musician/*.ipr

Apps/Auditor/.idea/modules.xml
Apps/Auditor/.idea/jarRepositories.xml
Apps/Auditor/.idea/compiler.xml
Apps/Auditor/.idea/libraries/
Apps/Auditor/*.iws
Apps/Auditor/*.iml
Apps/Auditor/*.ipr
