# Dependency directories
node_modules/
jspm_packages/
*.log

# Java
**/target/

# Optional npm cache directory
.npm

Apps/Musician/.idea/modules.xml
Apps/Musician/.idea/jarRepositories.xml
Apps/Musician/.idea/compiler.xml
Apps/Musician/.idea/libraries/
Apps/Musician/*.iws
Apps/Musician/*.iml
Apps/Musician/*.ipr
